@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  p {
    @apply m-1 p-2;
  }
  ul,
  ol,
  menu {
    @apply m-1 list-disc p-2;
  }
  pre {
    @apply rounded-md bg-[rgba(0,0,0,0.8)] p-2 overflow-x-scroll;
  }
}

html {
  font-family: "Open sans";
}

.from-top {
  animation: slideFromTop 1s ease-in-out;
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
